{% layout "layout.liquid" %} {% block content %}

<article>
  <div class="lists">
    <ul class="oneList">
      <li>Title</li>
      <h4>{{ list.title }}</h4>
      <li>Type</li>
      <h4>{{ list.type }}</h4>
      <li>Location</li>
      <h4>{{ list.location }}</h4>
      <li>Description</li>
      <h4>{{ list.description }}</h4>
      <li>Check</li>
      <h4>
        {% if list.check == true %} Complete {% else %} Incomplete {% endif %}
      </h4>
    </ul>
  </div>
  <a href="/lists/{{ list._id }}/edit"
    ><button type="submit" class="btn btn-secondary">EDIT</button></a
  >
  <form action="/lists/{{ list._id }}?_method=DELETE" method="post">
    <input class="btn btn-danger" type="submit" value="DELETE" />
  </form>
  <a href="/lists"
    ><button type="submit" class="btn btn-outline-dark">BACK</button></a
  >
</article>

{% endblock %}
