{% layout "layout.liquid" %} {% block content %}

<article>
  <h2>
    {{ list.title }} - {% if list.check == true %} Comeplete {% else %}
    Incomplete {% endif %}
  </h2>
  <h3>{{ list.type }}</h3>
  <h3>{{ list.location }}</h3>
  <h3>{{ list.description }}</h3>
  <a href="/lists/{{ list._id }}/edit"><button>EDIT</button></a>
  <form action="/lists/{{ list._id }}?_method=DELETE" method="post">
    <input type="submit" value="DELETE" />
  </form>
  <a href="/lists"><button>Back to Main</button></a>
</article>

{% endblock %}
